/* UTILS */

/******** BORDER ********/

._border{
    border: 1px solid white;
}

._debug > *{
    border: 1px solid red;
}

/******** PALETTE  ********/

._bgc-white{
    background-color: white;
}

._bgc-gray{
    background-color: #BEBCBB;
}

._bgc-light-gray{
    background-color: #D9DADC;
}

._bgc-drak-blue{
    background-color: #151C3B;
}

._bgc-black{
    background-color: black;
}

._bgc-light-black{
    background-color: #363636;
}

._bgc-orange{
    background-color: #CD3D0F;
}

._bgc-blue{
    background-color: #4677E9;
}

._color-gray{
    color: gray;
}

._color-black{
    color: black;
}

._color-light-blue{
    color: #4C9BDC;
}

._color-blue{
    color: #4677E9;
}

/* ! DA TOGLIERE ASSOLUTAMENTE */
/* ALTEZZE FISSE */

._h-100{
    min-height: 100px;
}

._h-80{
    min-height: 80px;
}

._h-60{
    height: 60px;
}

._h-50{
    height: 50px;
}

._h-20{
    height: 20px;
}

/* PADDING */

._pad-2{
    padding-top: 2rem;
}

/* Fixiamo il comportamento delle img */

img{
    max-width: 100%;
}

._mw-100{
    max-width: 100%;
}

/******
HEADER 
*******/

header{
    position: fixed;
    top: 0;
    width: 100%;

    z-index: 5;

    box-shadow: 1px 3px 3px #777;
}

/* Diamo un po d'aria al body
per controbilanciare l'effetto
causato dal cambiamento di position
dell'header in fixed */

body{
    padding-top: 78px;
}

/* Dimensioni ridotte per i loghi */

#logo-header{
    width: 40px;
}

#spotlight{
    width: 20px;
}


/* Diamo aria al top-header */

#top-header{
    padding: 5px;
}

/* Figure del logo Sony */

/* Ridimensioniamo l'altezza del logo */

#logo-sony{
    height: 12px;
}

#logo-play{
    width: 25px;
}

/* Lente di ingrandimento dell'header */

.spotlight{
    width: 25px;
}

/*
JUMBOTRON 
*/

/* JUMBOTRON CON BGI */

._background-setting{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* E' l'altezza del jumbo background */
    height: 675px;

    position: relative;
}

._background-setting.returnals-background{
    background-image: url('../img/jumbo-bg.png');
}

._background-setting.it-takes-background{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

#returnals .returnals-background > .row{
    position: absolute;
    top: 35%;
    left: 10%;
}

#it-takes-two .it-takes-background > .row{
    position: absolute;
    top: 10%;
    left: 5%;
}

/* Trade Marker icon */

.fa-trademark{
    font-size: 12px;

    position: relative;
    bottom: 5px;
}

/* Ridimensionamo il figure poichè ad una
certa dimensione esplode */

.it-takes-background figure{
    max-width: 400px;
}

/*
FOOTER
*/

footer{
    background-color: #0A439C;
}

/* Ridimensioniamo il globo */

._language-globe{
    width: 20px;
}

#sie-logo,
footer #logo-play{
    width: 100px;
}

/* Facciamo in modo tale che prendano entrambi 
il 50% */

#footer-logo,
#footer-link{
    flex-basis: 50%;
}

/********
MODELLIAMO TUTTI GLI EFFETTI DI HOVER
*********/

.btn.btn-primary._bgc-orange:hover{
    background-color: #CD3D0F;
}

.btn.btn-primary._bgc-light-black{
    background-color: #363636;
}

.btn.btn-primary._bgc-blue:hover{
    background-color: #4677E9;
}

.btn.btn-primary._bgc-blue:hover{
    background-color: #4677E9;
}

.btn.btn-primary._bgc-light-gray:hover{
    background-color: #D9DADC;
    color: #4677E9;
}

.btn.btn-primary._bgc-white:hover{
    background-color: white;
    color: #4677E9;
}

/*
HOVER SUL SET DELLA PS5: OPACITY e BORDER-BOTTOM 
*/

._ps5-active{
    border-bottom: 2px solid #4677E9;
}

._ps5-set{
    filter: opacity(0.5);
}

._ps5-set:hover{
    filter: opacity(1);
    border-bottom: 2px solid #4677E9;
    cursor: pointer;
}

/* 
TRANSITION SULLE CARD DEI GIOCHI PS5
*/

#keyart figure{
    transition: transform 0.5s linear;
}

#keyart .active-keyart{
    border: 2px solid #4677E9;
}

/* DANDO DEL PADDING AL FIGURE RESTRINGIAMO IL CONTENUTO
IN MODO CHE IL BORDO APPAIA QUELL'EFFETTO */

#keyart figure{
    padding: 2px;
}

#keyart figure:hover{
    transform: translateY(-20%);
    cursor: pointer;
}






