/* RESET */

/* UTILS */

/******** BORDER ********/

._border{
    border: 1px solid white;
}

._debug > *{
    border: 1px solid red;
}

/******** PALETTE  ********/

._bgc-white{
    background-color: white;
}

._bgc-black{
    background-color: black;
}

._bgc-light-black{
    background-color: #363636;
}

._bgc-orange{
    background-color: #CD3D0F;
}

._color-gray{
    color: gray;
}

._color-black{
    color: black;
}

/* ! DA TOGLIERE ASSOLUTAMENTE */
/* ALTEZZE FISSE */

._h-100{
    min-height: 100px;
}

._h-80{
    min-height: 80px;
}

._h-60{
    height: 60px;
}

._h-50{
    height: 50px;
}

._h-20{
    height: 20px;
}

/* LARGHEZZE FISSE */


/*  */

.bg-contain{
    background-size: contain;
}

/* Fixiamo il comportamento delle img */

img{
    max-width: 100%;
    height: 100%;
}

/******
HEADER 
*******/

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 5;
}

body{
    padding-top: 72px;
}


/* Diamo aria al top-header */

#top-header{
    padding: 5px;
}

/* Figure del logo Sony */

/* Ridimensioniamo l'altezza del logo */

#logo-sony{
    height: 12px;
}

/* Lente di ingrandimento */

.spotlight{
    width: 25px;
}

/*
JUMBOTRON 
*/

#background-jumbo{
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 500px;

    position: relative;
}

.jumbo-content-absolute{
    position: absolute;
    top: 35%;
    left: 10%;
}

/* #back-jumbo{
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */


